
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Authcode sample</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>TODO sample</h1>

  <p>Todo object creation:</p>
  <pre th:if="${todo}" th:utext="${todo}" class="user_info"></pre>
  <pre th:unless="${todo}" th:utext="${'sorry no todo to be created'}" class="user_info"></pre>

  <form th:action="|/logout|" method="POST">
    <!--
     By default, spring security recommend logout in the form of a POST to protect form CSRF attacks
     For more info, visit: https://docs.spring.io/spring-security/site/docs/current/api/org/springframework/security/config/annotation/web/configurers/LogoutConfigurer.html#logoutUrl-java.lang.String-
     -->
    <button id="logout">Log out</button>
  </form>


</body>
</html>
